
@{
    ViewBag.Title = "Feedback";
}

@*<div class="banner">
        <img src="~/Content/Images/hands_colorful.png" alt="Hands Image" style="width:50%; height:auto;" />
    </div>*@

<div class="jumbotron">
    @*<p class="raise-hand-banner"> <img src="~/Content/Images/hands_colorful.png" alt="Hands Image" /></p>*@
    <h2>Leave us feedback.</h2>
</div>


<div class="row">
    <p>We listen to your voices and want to know what you think.</p>
    <p>This is a new service and you can help us improve it.</p>
    <br />
    <p>
        Insert Questions here
    </p>
    <p>
        Insert Comment Box here:
    </p>
    <br />
    @Html.ActionLink("Home", "Home", "Tickets", null, new { @class = "btn btn-primary" })

</div>