
@{
    ViewBag.Title = "HandLowered";
}


<div class="row">
    <p>@ViewBag.reasonLoweredResponse</p>
</div>

<div class="row">
    <div class="col-md-3">
        <p><a class="btn btn-default" href="~/Home/Index" style="background-color:dodgerblue; color:white;">Yes</a></p>

    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default" href="~/Home/HandRaised" style="background-color:dodgerblue; color:white;">No</a></p>
    </div>

    <div class="col-md-3">
        @Html.ActionLink("Yes, lower my hand.", "Feedback", "Home", null, new { @class = "btn btn-default" })
    </div>

    <div class="col-md-3">
        @Html.ActionLink("No, keep my hand raised.", "ReactivateTicket", "Tickets", null, new { @class = "btn btn-default" })
    </div>
</div>
