
@{
    ViewBag.Title = "HandLowered";
}

<div class="banner">
    <img src="~/Content/Images/hands_colorful.png" alt="Hands Image" style="width:50%; height:auto;" />
</div>
<div class="jumbotron">
    @*<p class="raise-hand-banner"> <img src="~/Content/Images/hands_colorful.png" alt="Hands Image" /></p>*@
    <h1>Raise Hand</h1>
</div>


<div class="row">
    <p>Your hand has been lowered by a tutor. Is this accurate?</p>
</div>

<div class="row">
    <div class="col-md-2">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865" style="background-color:dodgerblue; color:white;">Yes</a></p>

    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865" style="background-color:dodgerblue; color:white;">No</a></p>
    </div>
</div>
