@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
   @*<img src="~/Content/Images/hands_colorful.png" alt="Hands Image"/>*@
</div>
<div class="jumbotron">
    @*<p class="raise-hand-banner"> <img src="~/Content/Images/hands_colorful.png" alt="Hands Image" /></p>*@
    <h1>Raise Hand</h1>
    <p class="lead">Get help quick. Raise your hand here. (Workshop this phrase)</p>
</div>


<div class="row">
    <div class="form-group col-md-4">
        @Html.DropDownList("Location", new List<SelectListItem>
            {
                new SelectListItem{Text="Location", Value="null" },
                new SelectListItem{Text="T1", Value="T1"},
                new SelectListItem{Text="T2", Value="T2"},
                new SelectListItem{Text="T3", Value="T3"},
                new SelectListItem{Text="Comp1", Value="C3"},
            })
        <br />
    </div>
    <div class="form-group col-md-4">
        @Html.DropDownList("Subject", new List<SelectListItem>
            {
                new SelectListItem{Text="Subject", Value="null" },
                new SelectListItem{Text="Math", Value="T1"},
                new SelectListItem{Text="Stats", Value="T2"},
                new SelectListItem{Text="Physics", Value="T3"},
                new SelectListItem{Text="Accounting", Value="C3"},
            })
        <br />
    </div>
        
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865" style="background-color:dodgerblue; color:white;">Raise Hand</a></p>

    </div>
</div>
